.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;

  h1,
  p {
    margin: 1em;
  }

  .red {
    color: red;
  }
}
